<mat-toolbar class="header">
  <a routerLink="/" class="home-link">YouTube Client App</a>

  <div class="search-block">
    <img class="logo" src="../../../../assets/youtube-logo.svg" alt="logo">

    <div class="search-bar">
        <mat-form-field class="search-form-field" appearance="outline">
          <mat-label>What do you want to find out?</mat-label>
          <input
            name="search"
            type="text"
            autocomplete="off"
            placeholder="Search ..."
            matInput
            [formControl]="searchField"
            [disabled]="!isAuthenticated"
          >
        </mat-form-field>
    </div>

    <button
      class="settings-button"
      mat-raised-button
      color="primary"
      (click)="toggleFilter()"
      [class.mat-button-disabled]="!isAuthenticated"
      [disabled]="!isAuthenticated"
    >
      <mat-icon>tune</mat-icon>
    </button>

    <a
      class="admin-link"
      mat-raised-button
      color="primary"
      routerLink="admin"
      [class.mat-button-disabled]="!isAuthenticated"
    >
      <mat-icon>add_circle</mat-icon>
    </a>
  </div>

  <div class="profile">
    <span
      class="mat-body-1 profile__name"
      *ngIf="userName; else loginMessage"
    >{{userName}}</span>

    <ng-template #loginMessage>
      <span class="mat-body-1 profile__name">Please login</span>
    </ng-template>

    <button
      class="profile__button"
      [class.mat-button-disabled]="!isAuthenticated"
      mat-mini-fab color="primary"
      (click)="logout()"
    >
      <mat-icon>{{isAuthenticated ? 'logout' : 'account_circle'}}</mat-icon>
    </button>
  </div>
</mat-toolbar>

<app-filtering-block *ngIf="showFilter"></app-filtering-block>
