<mat-card class="login mat-elevation-z11">
  <mat-card-title class="login__title">Login</mat-card-title>

  <form class="login__form" (ngSubmit)="submit()">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
    >Login</button>
  </form>


</mat-card>
