<mat-card
  class="card"
  [appDateStatus]="searchItemData.snippet.publishedAt"
>
  <mat-card-content class="card-content">
    <img mat-card-image [src]="searchItemData.snippet.thumbnails.high.url">
    <div class="stat">
      <div class="stat-item">
        <mat-icon fontIcon="visibility"></mat-icon>
        <span class="stat-text">{{searchItemData.statistics.viewCount}}</span>
      </div>
      <div class="stat-item">
        <mat-icon fontIcon="favorite"></mat-icon>
        <span class="stat-text">{{searchItemData.statistics.likeCount}}</span>
      </div>
      <div class="stat-item">
        <mat-icon fontIcon="comment"></mat-icon>
        <span class="stat-text">{{searchItemData.statistics.commentCount}}</span>
      </div>
    </div>
  </mat-card-content>

  <mat-card-title class="mat-title card-title">{{searchItemData.snippet.title}}</mat-card-title>

  <mat-card-actions class="button-block">
    <a [routerLink]="['id', searchItemData.id]" class="more-button" mat-raised-button color="primary">More ...</a>
  </mat-card-actions>
</mat-card>
