<mat-toolbar class="header">
  <span>YouTube Client App</span>

  <div class="search-block">
    <img class="logo" src="./assets/youtube-logo.svg" alt="logo">

    <div class="search-bar">
      <form class="search-form" (ngSubmit)="submit()">
        <mat-form-field class="search-form-field" appearance="outline">
          <mat-label>What are you want to find out?</mat-label>
          <input type="text" placeholder="Search ..." matInput>
        </mat-form-field>
        <button class="search-button" mat-raised-button color="primary" type="submit">Search</button>
      </form>
    </div>

    <button
      class="settings-button"
      mat-raised-button
      color="primary"
      (click)="toggleFilter()"
    >
      <mat-icon>tune</mat-icon>
    </button>
  </div>

  <div class="profile">
    <span class="mat-body-1 profile__name">Your name</span>
    <button class="profile-button" mat-mini-fab color="primary">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<app-filtering-block
  *ngIf="showFilter"
  (dateSort)="changeSort($event, 'date')"
  (viewSort)="changeSort($event, 'views')"
></app-filtering-block>
