<mat-toolbar class="filter-block">
  <span class="mat-body-1 filter-label">Sort by:</span>

  <button mat-button [matMenuTriggerFor]="dateSort">
    date
    <mat-icon
      class="sort-icon"
      fontIcon="arrow_upward"
      *ngIf="dateSortOrder === 'asc'"
    ></mat-icon>
    <mat-icon
      class="sort-icon"
      fontIcon="arrow_downward"
      *ngIf="dateSortOrder === 'desc'"
    ></mat-icon>
  </button>
  <mat-menu #dateSort="matMenu">
    <button mat-menu-item (click)="changeDateSort('desc')">from newest</button>
    <button mat-menu-item (click)="changeDateSort('asc')">from oldest</button>
  </mat-menu>

  <button class="views-button" mat-button [matMenuTriggerFor]="viewsSort">
    count of views
    <mat-icon
      class="sort-icon"
      fontIcon="arrow_upward"
      *ngIf="viewSortOrder === 'asc'"
    ></mat-icon>
    <mat-icon
      class="sort-icon"
      fontIcon="arrow_downward"
      *ngIf="viewSortOrder === 'desc'"
    ></mat-icon>
  </button>
  <mat-menu #viewsSort="matMenu">
    <button mat-menu-item (click)="changeViewSort('desc')">most viewed</button>
    <button mat-menu-item (click)="changeViewSort('asc')">least viewed</button>
  </mat-menu>

  <mat-form-field class="filter-field" appearance="outline">
    <mat-label>by word or sentence</mat-label>
    <input
      type="text"
      placeholder="filter by ..."
      matInput
      [(ngModel)]="filterInputValue"
      (ngModelChange)="changeFilterString()"
    >
    <button
      *ngIf="filterInputValue"
      matSuffix
      mat-icon-button
      (click)="clearFilterString()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>
